*{
  overflow-x: hidden;
  font-family: initial;
}

#AboutBox{
  width: 100vw;
  height: 90vh;
  display: flex;
  /* background-color: gray; */
  align-items: center;
  justify-content: center;

}

#plantingpic {
  height: 450px;
  width: 450px;
  margin-left: 10px;
  margin-top: 150px;
  margin-bottom: 200px;
  border-radius: 50px;
}

.product_btn{
  background-color: #58AB48;
  margin-top: 20px;
  width: 15%;
  height: 10%;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-size: x-large;
  font-family: cursive;
  font-weight: bold;
}

#plantingtext {
  margin: 50px;
  width: 50%;
  height: 50%;
}
.wesupport {
  font-size: 50px;
}
@media screen and (max-width: 720px) {
  .wesupport {
    font-size: 30px;
  }
  #plangingdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #plantingpic {
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 200px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 480px) {
  .wesupport {
    font-size: 20px;
  }
  #plangingdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #plantingpic {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
    border-radius: 25px;
  }
}


.greenText{
  color: #58AB48;
}

.aboutPara{
  font-size: 27px;
  color: grey;
}

.para1{
  margin-top: 15px;
}